{% extends "base.html" %}

{% load thumbnail %}
{% load account_tags %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
	<h1>{{ user.get_full_name }}</h1>
	<div class="profile-info" id="">
		{% thumbnail user.profile.photo "180x180" crop="100%" as im %}
			<img src="{{ im.url }}" class="user-detail">
		{% endthumbnail %}
	</div>
	
	{% with total_followers=user.followers.count total_following=user.following.count%}
		<div class="follow-group">	
			<span class="count">
				<a href="{% url "account:followers" user.username %}">
					<span class="total-followers">{{ total_followers }}</span>
					follower{{ total_followers|pluralize }}
				</a>
			</span>
			<span class="count">
				<a href="{% url "account:following" user.username %}">
					<span class="total-following">{{ total_following }}</span>
					following
				</a>
			</span>
			
			{% if request.user != user %}
				<a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
					{% if request.user not in user.followers.all %}
						Follow
					{% else %}
						Unfollow
					{% endif %}
				</a>
			{% endif %}
		</div>
		
		{% include "actions/action/detail.html" %}
	{% endwith %}	
{% endblock %}


{% block domready %}
	
	$('a.follow').click(function(e){
		e.preventDefault();
		$.post('{% url "account:user_follow" %}',
			{
				id: $(this).data('id'),
				action: $(this).data('action')
			},
			function(data){
				if (data['status'] == 'ok') {
					var previous_action = $('a.follow').data('action');
					// toggle data-action
					$('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
					// toggle link text
					$('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');
					// update total followers
					var previous_followers = parseInt($('span.count .total-followers').text());
					$('span.count .total-followers').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
				}
			}
		);
	});
	
	$(".cbb").click(function(e){
		e.preventDefault();
		var this_action = $(this);
		$.post("{% url  "actions:delete_action" %}", 
			{
				action_id: $(this).data("action-id")
			},
			function(data) {
				if (data['status'] == 'ok') {
					this_action.closest('.action').remove();
				}
			}
		)
		
	});
	
	
	 
{% endblock %}